@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CQ Frontier</title>
		@Styles.Render("~/Content/css")
</head>
<body ng-app>
		<h1>my app</h1>
    <div>
        
    </div>
		@Scripts.Render("~/bundles/vendor")
		@Scripts.Render("~/bundles/app")
</body>
</html>
